@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@500;600;700&family=Work+Sans:wght@500;600&display=swap");

body {
  background-color: #1c121f;
  overflow-x: hidden;
}

body::-webkit-scrollbar-thumb {
  background-color: #594d5e;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #96839b;
}

.blur {
  pointer-events: none;
}

.container {
  margin: 0 auto;
  max-width: 1640px;
  padding: 0px 20px;
}

.header-body {
  display: flex;
  padding-left: 80px;
  padding-right: 150px;
  justify-content: space-between;
  margin-top: 35px;
  align-items: center;
  .header__logo {
    min-width: 66px;
  }
  .header-use {
    display: flex;
    align-items: center;
    .header__navbar {
      margin-right: 160px;
      display: flex;
      gap: 64px;
      a {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #f5fbf2;
      }
      .navbar-link:hover {
        a {
          color: #ffce4e;
          border-bottom: 2px solid #ffce4e;
        }
      }
    }
    .header__button {
      background: rgba(233, 215, 167, 0.1);
      border: 1px solid #ffce4e;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: #ffce4e;
      padding: 20px 30px;
    }
  }
}

.feed {
  margin-top: 139px;
  .feed-body {
    padding-left: 80px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    color: #f5fbf2;
    .feed__info {
      .info-title {
        margin-top: 32px;
        width: 710px;
        font-family: "Oxanium";
        font-style: normal;
        font-weight: 700;
        font-size: 85px;
        line-height: 130px;
        color: #f5fbf2;
        .color-yellow {
          color: #ffce4e;
        }
      }
      .info__buttons {
        display: flex;
        gap: 48px;
        margin-top: 75px;
        .info-button-explore {
          background: #ffce4e;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
          color: #000000;
          padding: 25px 75px;
        }
        .info-button-create {
          background: rgba(233, 215, 167, 0.1);
          border: 1px solid #ffce4e;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
          padding: 25px 75px;
          color: #ffffff;
        }
      }
      .info__counters {
        margin-top: 120px;
        display: flex;
        gap: 100px;
        .counter-title {
          font-family: "Oxanium";
          font-style: normal;
          font-weight: 700;
          font-size: 62px;
          line-height: 78px;
          color: #f5fbf2;
        }
        .counter-desc {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 35px;
          color: #9b9e9a;
          text-align: right;
        }
      }
    }
    .feed__artist {
      position: relative;
      background-image: url(/assets/images/feed/image-artist.png);
      min-width: 556px;
      height: 718px;
      .artist__up {
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 40px;
        padding-right: 55px;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(
          92.8deg,
          rgba(255, 137, 61, 0.09) -52.37%,
          rgba(250, 250, 250, 0.9) 137.41%
        );
        opacity: 0.95;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(22.5px);
        .artist__up-txt {
          margin-top: 18px;
          margin-bottom: 18px;
          .up-txt-title {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.08em;
            text-transform: capitalize;
            color: #e4dee7;
          }
          .up-txt-price {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #ffffff;
          }
        }
      }
      .artist__bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 40px;
        align-items: center;
        .artist__bottom-info {
          margin-top: 33px;
          margin-bottom: 38px;
          .bottom-name {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 35px;
            letter-spacing: 0.07em;
            color: #16091b;
          }
          .bottom-tag {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #594d5e;
          }
        }
        .artist__bottom-button {
          background: #ffce4e;
          backdrop-filter: blur(22.5px);
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          height: 72px;
          width: 205px;
          line-height: 28px;
          color: #000000;
        }
      }
    }
  }

  .blurr-effect {
    position: absolute;
    top: 0;
    width: 925px;
    right: 0;
    z-index: -1;
    max-height: 1100px;
    overflow: hidden;
    img {
      width: 925px;
    }
  }
  .scrollbutton {
    position: absolute;
    right: 750px;
    margin-top: -77px;
    z-index: -2;
    cursor: pointer;
  }
  .lights {
    z-index: -3;
    position: absolute;
    top: 0;
    width: 100%;
    transform: rotate(0.13deg);
    .light1 {
      background: rgba(96, 231, 206, 0.5);
      filter: blur(225px);
      transform: rotate(-4.93deg);
      width: 334px;
      height: 188px;
      top: -150px;
      right: -30px;
      position: absolute;
    }
    .light2 {
      background: #bb00ab;
      filter: blur(175px);
      transform: rotate(-4.93deg);
      width: 312px;
      height: 312px;
      border-radius: 50%;
      top: 662px;
      right: 368px;
      position: absolute;
    }
    .light3 {
      background: rgba(231, 178, 38, 0.8);
      filter: blur(225px);
      transform: rotate(-4.93deg);
      width: 402px;
      height: 208px;
      top: 674px;
      left: -313px;
      position: absolute;
    }
    .light4 {
      background: rgba(96, 231, 206, 0.67);
      filter: blur(225px);
      transform: matrix(-0.79, -0.62, 0.69, -0.73, 0, 0);
      width: 445px;
      height: 248px;
      top: 617px;
      right: 187px;
      position: absolute;
    }
    .light5 {
      background: #d53d5c;
      filter: blur(225px);
      transform: matrix(-0.79, -0.62, 0.69, -0.73, 0, 0);
      width: 445px;
      height: 227px;
      top: 188px;
      right: -122px;
      position: absolute;
    }
    .light6 {
      background: rgba(231, 178, 38, 0.83);
      filter: blur(225px);
      transform: matrix(-0.79, -0.62, 0.69, -0.73, 0, 0);
      width: 445px;
      height: 227px;
      top: 538px;
      right: -78px;
      position: absolute;
    }
  }
}

.clients {
  margin-top: 260px;
  .clients-body {
    margin-left: 187px;
    margin-right: 177px;
    display: flex;
    justify-content: space-between;
    .client {
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}

.auction {
  position: relative;
  background-image: url(/assets/images/auction/auction-bg.svg);
  margin-top: 105px;
  background-size: 100%;
  color: #e4dee7;
  width: 100vw;
  min-height: 1233px;
  .auction-title {
    .blur {
      width: 228px;
      height: 167px;
      background: rgba(231, 178, 38, 0.7);
      filter: blur(225px);
      position: absolute;
      left: 210px;
      z-index: -2;
    }
    .blue {
      width: 180px;
      height: 167px;
      background: #60e7ce;
      filter: blur(225px);
      left: 550px;
    }
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    color: #f5fbf2;
  }
  .auction-title::before {
    height: 110px;
    width: 110px;
    position: absolute;
    content: "";
    background: #8613a5;
    border-radius: 50%;
    margin-right: 380px;
    z-index: -1;
    margin-top: 5px;
  }

  .rad::before {
    background: #e03054;
    margin-right: 560px;
  }

  .auction-arrows {
    display: flex;
    justify-content: right;
    .arrow {
      cursor: pointer;
    }
    gap: 28px;
    padding-right: 80px;
  }
  .auction-cards::-webkit-scrollbar {
    height: 6px;
    background-color: #96839b;
  }
  .auction-cards::-webkit-scrollbar-thumb {
    background-color: #594d5e;
  }
  .auction-cards {
    margin-top: 42px;
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
    gap: 42px;
    margin-left: 80px;
    .card {
      min-width: 495px;
      padding: 32px 32px 28px 32px;
      background: #3d2942;
      .image {
        position: relative;
        .time {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 35px;
          letter-spacing: 0.02em;
          color: #f5fbf2;
          background: linear-gradient(
            125.33deg,
            #8613a5 18.61%,
            rgba(250, 250, 250, 0.65) 137.4%
          );
          opacity: 0.95;
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
          backdrop-filter: blur(22.5px);
          border-radius: 0px;
          padding: 15px 45px;
          position: absolute;
          bottom: 0;
        }
      }
      .info {
        margin-top: 28px;
        .autor {
          display: flex;
          justify-content: space-between;
          .about {
            display: flex;
            gap: 16px;
            align-items: center;
            .name {
              font-family: "Work Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 28px;
              line-height: 35px;
              color: #f5fbf2;
            }
            .tag {
              font-family: "Work Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 35px;
              display: flex;
              align-items: center;
              color: #bdaac1;
            }
          }
          .likes {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            .count {
              font-family: "Work Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 32px;
              line-height: 35px;
              color: #76607a;
            }
          }
        }
        .info-card {
          display: flex;
          justify-content: space-between;
          margin-top: 28px;
          .current {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #c6bfc8;
          }
          .price {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: #f5fbf2;
          }
        }
      }
      .button {
        width: 100%;
        justify-content: center;
        margin-top: 40px;
        padding: 21px 0px;
        display: flex;
        background: rgba(233, 215, 167, 0.1);
        border: 1px solid #fde8b3;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #ffffff;
      }
    }
  }

  .viewAll {
    display: flex;
    justify-content: center;
    .viewAll-button {
      margin-top: 100px;
      border: 1px solid #ffce4e;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 0.05em;
      color: #f5fbf2;
      padding: 24px 65px;
    }
  }
}

.howwork {
  margin-top: 185px;
  .howwork-body {
    .title {
      display: flex;
      justify-content: center;
      font-family: "Oxanium";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 130px;
      color: #f5fbf2;
      position: relative;
      .blur {
        position: absolute;
        background: #d53d5c;
        filter: blur(225px);
        width: 172px;
        height: 168px;
        z-index: -2;
        margin-left: 200px;
      }
    }
    .items {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-left: 130px;
      margin-right: 130px;
      .item {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .item-title {
          margin-top: 32px;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 28px;
          text-transform: capitalize;
          color: #ffce4e;
        }
      }
    }
    .line-166 {
      width: 166px;
      flex-shrink: 0;
      margin-bottom: 50px;
    }
    .line-125 {
      width: 125px;
      flex-shrink: 0;
      margin-bottom: 50px;
    }
  }
}

.collections {
  position: relative;
  margin-top: 105px;
  background-size: 100%;
  color: #e4dee7;
  width: 100vw;
  min-height: 1233px;
  .auction-title {
    .blur {
      width: 180px;
      height: 167px;
      background: #60e7ce;
      filter: blur(225px);
      position: absolute;
      left: 550px;
      z-index: -2;
    }
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    color: #f5fbf2;
  }
  .auction-title::before {
    height: 110px;
    width: 110px;
    position: absolute;
    content: "";
    background: #e03054;
    border-radius: 50%;
    margin-right: 560px;
    z-index: -1;
    margin-top: 5px;
  }
  .auction-cards::-webkit-scrollbar {
    height: 6px;
    background-color: #96839b;
  }
  .auction-cards::-webkit-scrollbar-thumb {
    background-color: #594d5e;
  }
  .auction-cards {
    margin-top: 106px;
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
    gap: 36px;
    margin-left: 80px;
    .card {
      min-width: 495px;
      padding: 32px 32px 28px 32px;
      background: #3d2942;
      .info {
        margin-top: 28px;
        .autor {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .about {
            display: flex;
            gap: 16px;
            align-items: center;
            .tag {
              font-family: "Work Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 32px;
              line-height: 36px;
              color: #f5fbf2;
            }
          }
          .number {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 35px;
            color: #c2b5c6;
          }
        }
        .info-card {
          display: flex;
          justify-content: space-between;
          margin-top: 28px;
          .current {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #c6bfc8;
          }
          .price {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: #f5fbf2;
          }
        }
      }
      .button {
        width: 100%;
        justify-content: center;
        margin-top: 40px;
        padding: 21px 0px;
        display: flex;
        background: rgba(233, 215, 167, 0.1);
        border: 1px solid #fde8b3;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #ffffff;
      }
    }
  }
  .viewAll {
    display: flex;
    justify-content: center;
    .viewAll-button {
      margin-top: 100px;
      border: 1px solid #ffce4e;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 0.05em;
      color: #f5fbf2;
      padding: 24px 65px;
    }
  }
}

.howwork {
  margin-top: 185px;
  .howwork-body {
    .title {
      display: flex;
      justify-content: center;
      font-family: "Oxanium";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 130px;
      color: #f5fbf2;
      position: relative;
      .blur {
        position: absolute;
        background: #d53d5c;
        filter: blur(225px);
        width: 172px;
        height: 168px;
        z-index: -2;
        margin-left: 200px;
      }
    }
    .items {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-left: 130px;
      margin-right: 130px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .item-title {
          margin-top: 32px;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 28px;
          text-transform: capitalize;
          color: #ffce4e;
        }
      }
    }
    .line-166 {
      width: 166px;
    }
    .line-125 {
      width: 125px;
    }
  }
}

.creators {
  margin-top: -200px;
  background-image: url(/assets/images/creators/bg.svg);
  .creators-body {
    margin-left: 155px;
    margin-right: 155px;
    .title {
      display: flex;
      justify-content: center;
      padding-top: 80px;
      font-family: "Oxanium";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 130px;
      color: #f5fbf2;
    }
    .title::before {
      height: 110px;
      width: 110px;
      position: absolute;
      content: "";
      background: #e03054;
      border-radius: 50%;
      margin-right: 350px;
      z-index: -1;
      margin-top: 5px;
    }
    .creators-items {
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;
      gap: 70px;
      .item {
        background: #302034;
        box-shadow: inset 2px 0px 0px #e03054;
        border-left: 1px #e03054 solid;
        padding-left: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        position: relative;
        padding-right: 64px;
        display: flex;
        justify-content: space-between;
        width: 608px;
        align-items: center;
        .info {
          display: flex;
          gap: 24px;
          align-items: center;
          .about {
            .name {
              font-family: "Oxanium";
              font-style: normal;
              font-weight: 600;
              font-size: 32px;
              line-height: 35px;
              letter-spacing: 0.05em;
              color: #f5fbf2;
            }
            .money {
              font-family: "Work Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 36px;
              display: flex;
              align-items: center;
              color: #bdaac1;
              margin-top: 8px;
            }
          }
        }
        .count::before {
          height: 100px;
          width: 3px;
          position: absolute;
          content: "";
          background-color: #49374e;
          margin-right: 150px;
          top: 28px;
        }
        .count {
          display: flex;
          align-items: center;
          flex-direction: column;
          .count-title {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 35px;
            letter-spacing: 0.05em;
            color: #f5fbf2;
          }
          .count-desc {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #908294;
            margin-top: 6px;
          }
        }
      }
    }
    .viewAll {
      display: flex;
      margin-top: 80px;
      justify-content: center;
      margin-bottom: 80px;
      .viewAll-button {
        border: 1px solid #ffce4e;
        padding: 24px 64px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #f5fbf2;
      }
    }
  }
}

.subscribe {
  height: 452px;
  background-image: url(/assets/images/subscribe/Pattern.svg);
  .subscribe-body {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-family: "Oxanium";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 130px;
      text-align: center;
      color: #f5fbf2;
    }
    .input {
      margin-top: 25px;
      display: flex;
      align-items: center;
      position: relative;
      .blur {
        position: absolute;
        background: #b1d26f;
        filter: blur(225px);
        width: 262px;
        z-index: 1;
        height: 165px;
        margin-left: 500px;
        margin-top: 100px;
      }
      input {
        width: 436px;
        height: 100px;
        border: 1px solid #e7b226;
        padding-left: 53px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #f5fbf2;
      }
      input::placeholder {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #a48ea9;
      }
      button {
        cursor: pointer;
        background: #e7b226;
        height: 100px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #251928;
        padding-left: 63px;
        padding-right: 63px;
      }
    }
  }
}

.footer {
  height: 512px;
  position: relative;
  background-color: #251928;
  .blur {
    position: absolute;
    background: #d53d5c;
    filter: blur(275px);
    z-index: 0;
    width: 202px;
    height: 167px;
    top: 0;
    left: 0;
  }
  .footer-body {
    display: flex;
    justify-content: space-between;
    .logo {
      margin-top: 115px;
      margin-left: 80px;
      img {
        width: 195px;
        height: 195px;
      }
    }
    .social {
      margin-top: 119px;
      display: flex;
      flex-direction: column;
      gap: 52px;
      width: 390px;
      .title {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        color: #96839b;
      }
      .icons {
        display: flex;
        gap: 30px;
      }
      .desc {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: #96839b;
      }
    }
    .about {
      margin-top: 108px;
      .title {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #f5fbf2;
      }
      .links {
        display: flex;
        flex-direction: column;
        .link {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 50px;
          color: #96839b;
        }
      }
    }
    .support {
      margin-top: 108px;
      .title {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #f5fbf2;
      }
      .links {
        display: flex;
        flex-direction: column;
        .link {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 50px;
          color: #96839b;
        }
      }
    }
  }
}
