@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@500;600;700&family=Work+Sans:wght@500;600&display=swap");
body {
  background-color: #1c121f;
  overflow-x: hidden; }

body::-webkit-scrollbar-thumb {
  background-color: #594d5e; }

body::-webkit-scrollbar {
  width: 6px;
  background-color: #96839b; }

.blur {
  pointer-events: none; }

.container {
  margin: 0 auto;
  max-width: 1640px;
  padding: 0px 20px; }

.header-body {
  display: flex;
  padding-left: 80px;
  padding-right: 150px;
  justify-content: space-between;
  margin-top: 35px;
  align-items: center; }
  .header-body .header__logo {
    min-width: 66px; }
  .header-body .header-use {
    display: flex;
    align-items: center; }
    .header-body .header-use .header__navbar {
      margin-right: 160px;
      display: flex;
      gap: 64px; }
      .header-body .header-use .header__navbar a {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #f5fbf2; }
      .header-body .header-use .header__navbar .navbar-link:hover a {
        color: #ffce4e;
        border-bottom: 2px solid #ffce4e; }
    .header-body .header-use .header__button {
      background: rgba(233, 215, 167, 0.1);
      border: 1px solid #ffce4e;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: #ffce4e;
      padding: 20px 30px; }

.feed {
  margin-top: 139px; }
  .feed .feed-body {
    padding-left: 80px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    color: #f5fbf2; }
    .feed .feed-body .feed__info .info-title {
      margin-top: 32px;
      width: 710px;
      font-family: "Oxanium";
      font-style: normal;
      font-weight: 700;
      font-size: 85px;
      line-height: 130px;
      color: #f5fbf2; }
      .feed .feed-body .feed__info .info-title .color-yellow {
        color: #ffce4e; }
    .feed .feed-body .feed__info .info__buttons {
      display: flex;
      gap: 48px;
      margin-top: 75px; }
      .feed .feed-body .feed__info .info__buttons .info-button-explore {
        background: #ffce4e;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        color: #000000;
        padding: 25px 75px; }
      .feed .feed-body .feed__info .info__buttons .info-button-create {
        background: rgba(233, 215, 167, 0.1);
        border: 1px solid #ffce4e;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        padding: 25px 75px;
        color: #ffffff; }
    .feed .feed-body .feed__info .info__counters {
      margin-top: 120px;
      display: flex;
      gap: 100px; }
      .feed .feed-body .feed__info .info__counters .counter-title {
        font-family: "Oxanium";
        font-style: normal;
        font-weight: 700;
        font-size: 62px;
        line-height: 78px;
        color: #f5fbf2; }
      .feed .feed-body .feed__info .info__counters .counter-desc {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #9b9e9a;
        text-align: right; }
    .feed .feed-body .feed__artist {
      position: relative;
      background-image: url(/assets/images/feed/image-artist.png);
      min-width: 556px;
      height: 718px; }
      .feed .feed-body .feed__artist .artist__up {
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 40px;
        padding-right: 55px;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
        opacity: 0.95;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(22.5px); }
        .feed .feed-body .feed__artist .artist__up .artist__up-txt {
          margin-top: 18px;
          margin-bottom: 18px; }
          .feed .feed-body .feed__artist .artist__up .artist__up-txt .up-txt-title {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.08em;
            text-transform: capitalize;
            color: #e4dee7; }
          .feed .feed-body .feed__artist .artist__up .artist__up-txt .up-txt-price {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #ffffff; }
      .feed .feed-body .feed__artist .artist__bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 40px;
        align-items: center; }
        .feed .feed-body .feed__artist .artist__bottom .artist__bottom-info {
          margin-top: 33px;
          margin-bottom: 38px; }
          .feed .feed-body .feed__artist .artist__bottom .artist__bottom-info .bottom-name {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 35px;
            letter-spacing: 0.07em;
            color: #16091b; }
          .feed .feed-body .feed__artist .artist__bottom .artist__bottom-info .bottom-tag {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #594d5e; }
        .feed .feed-body .feed__artist .artist__bottom .artist__bottom-button {
          background: #ffce4e;
          backdrop-filter: blur(22.5px);
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          height: 72px;
          width: 205px;
          line-height: 28px;
          color: #000000; }
  .feed .blurr-effect {
    position: absolute;
    top: 0;
    width: 925px;
    right: 0;
    z-index: -1;
    max-height: 1100px;
    overflow: hidden; }
    .feed .blurr-effect img {
      width: 925px; }
  .feed .scrollbutton {
    position: absolute;
    right: 750px;
    margin-top: -77px;
    z-index: -2;
    cursor: pointer; }
  .feed .lights {
    z-index: -3;
    position: absolute;
    top: 0;
    width: 100%;
    transform: rotate(0.13deg); }
    .feed .lights .light1 {
      background: rgba(96, 231, 206, 0.5);
      filter: blur(225px);
      transform: rotate(-4.93deg);
      width: 334px;
      height: 188px;
      top: -150px;
      right: -30px;
      position: absolute; }
    .feed .lights .light2 {
      background: #bb00ab;
      filter: blur(175px);
      transform: rotate(-4.93deg);
      width: 312px;
      height: 312px;
      border-radius: 50%;
      top: 662px;
      right: 368px;
      position: absolute; }
    .feed .lights .light3 {
      background: rgba(231, 178, 38, 0.8);
      filter: blur(225px);
      transform: rotate(-4.93deg);
      width: 402px;
      height: 208px;
      top: 674px;
      left: -313px;
      position: absolute; }
    .feed .lights .light4 {
      background: rgba(96, 231, 206, 0.67);
      filter: blur(225px);
      transform: matrix(-0.79, -0.62, 0.69, -0.73, 0, 0);
      width: 445px;
      height: 248px;
      top: 617px;
      right: 187px;
      position: absolute; }
    .feed .lights .light5 {
      background: #d53d5c;
      filter: blur(225px);
      transform: matrix(-0.79, -0.62, 0.69, -0.73, 0, 0);
      width: 445px;
      height: 227px;
      top: 188px;
      right: -122px;
      position: absolute; }
    .feed .lights .light6 {
      background: rgba(231, 178, 38, 0.83);
      filter: blur(225px);
      transform: matrix(-0.79, -0.62, 0.69, -0.73, 0, 0);
      width: 445px;
      height: 227px;
      top: 538px;
      right: -78px;
      position: absolute; }

.clients {
  margin-top: 260px; }
  .clients .clients-body {
    margin-left: 187px;
    margin-right: 177px;
    display: flex;
    justify-content: space-between; }
    .clients .clients-body .client {
      flex-shrink: 0;
      cursor: pointer; }

.auction {
  position: relative;
  background-image: url(/assets/images/auction/auction-bg.svg);
  margin-top: 105px;
  background-size: 100%;
  color: #e4dee7;
  width: 100vw;
  min-height: 1233px; }
  .auction .auction-title {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    color: #f5fbf2; }
    .auction .auction-title .blur {
      width: 228px;
      height: 167px;
      background: rgba(231, 178, 38, 0.7);
      filter: blur(225px);
      position: absolute;
      left: 210px;
      z-index: -2; }
    .auction .auction-title .blue {
      width: 180px;
      height: 167px;
      background: #60e7ce;
      filter: blur(225px);
      left: 550px; }
  .auction .auction-title::before {
    height: 110px;
    width: 110px;
    position: absolute;
    content: "";
    background: #8613a5;
    border-radius: 50%;
    margin-right: 380px;
    z-index: -1;
    margin-top: 5px; }
  .auction .rad::before {
    background: #e03054;
    margin-right: 560px; }
  .auction .auction-arrows {
    display: flex;
    justify-content: right;
    gap: 28px;
    padding-right: 80px; }
    .auction .auction-arrows .arrow {
      cursor: pointer; }
  .auction .auction-cards::-webkit-scrollbar {
    height: 6px;
    background-color: #96839b; }
  .auction .auction-cards::-webkit-scrollbar-thumb {
    background-color: #594d5e; }
  .auction .auction-cards {
    margin-top: 42px;
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
    gap: 42px;
    margin-left: 80px; }
    .auction .auction-cards .card {
      min-width: 495px;
      padding: 32px 32px 28px 32px;
      background: #3d2942; }
      .auction .auction-cards .card .image {
        position: relative; }
        .auction .auction-cards .card .image .time {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 35px;
          letter-spacing: 0.02em;
          color: #f5fbf2;
          background: linear-gradient(125.33deg, #8613a5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
          opacity: 0.95;
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
          backdrop-filter: blur(22.5px);
          border-radius: 0px;
          padding: 15px 45px;
          position: absolute;
          bottom: 0; }
      .auction .auction-cards .card .info {
        margin-top: 28px; }
        .auction .auction-cards .card .info .autor {
          display: flex;
          justify-content: space-between; }
          .auction .auction-cards .card .info .autor .about {
            display: flex;
            gap: 16px;
            align-items: center; }
            .auction .auction-cards .card .info .autor .about .name {
              font-family: "Work Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 28px;
              line-height: 35px;
              color: #f5fbf2; }
            .auction .auction-cards .card .info .autor .about .tag {
              font-family: "Work Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 35px;
              display: flex;
              align-items: center;
              color: #bdaac1; }
          .auction .auction-cards .card .info .autor .likes {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer; }
            .auction .auction-cards .card .info .autor .likes .count {
              font-family: "Work Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 32px;
              line-height: 35px;
              color: #76607a; }
        .auction .auction-cards .card .info .info-card {
          display: flex;
          justify-content: space-between;
          margin-top: 28px; }
          .auction .auction-cards .card .info .info-card .current {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #c6bfc8; }
          .auction .auction-cards .card .info .info-card .price {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: #f5fbf2; }
      .auction .auction-cards .card .button {
        width: 100%;
        justify-content: center;
        margin-top: 40px;
        padding: 21px 0px;
        display: flex;
        background: rgba(233, 215, 167, 0.1);
        border: 1px solid #fde8b3;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #ffffff; }
  .auction .viewAll {
    display: flex;
    justify-content: center; }
    .auction .viewAll .viewAll-button {
      margin-top: 100px;
      border: 1px solid #ffce4e;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 0.05em;
      color: #f5fbf2;
      padding: 24px 65px; }

.howwork {
  margin-top: 185px; }
  .howwork .howwork-body .title {
    display: flex;
    justify-content: center;
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    color: #f5fbf2;
    position: relative; }
    .howwork .howwork-body .title .blur {
      position: absolute;
      background: #d53d5c;
      filter: blur(225px);
      width: 172px;
      height: 168px;
      z-index: -2;
      margin-left: 200px; }
  .howwork .howwork-body .items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px; }
    .howwork .howwork-body .items .item {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .howwork .howwork-body .items .item .item-title {
        margin-top: 32px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-transform: capitalize;
        color: #ffce4e; }
  .howwork .howwork-body .line-166 {
    width: 166px;
    flex-shrink: 0;
    margin-bottom: 50px; }
  .howwork .howwork-body .line-125 {
    width: 125px;
    flex-shrink: 0;
    margin-bottom: 50px; }

.collections {
  position: relative;
  margin-top: 105px;
  background-size: 100%;
  color: #e4dee7;
  width: 100vw;
  min-height: 1233px; }
  .collections .auction-title {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    color: #f5fbf2; }
    .collections .auction-title .blur {
      width: 180px;
      height: 167px;
      background: #60e7ce;
      filter: blur(225px);
      position: absolute;
      left: 550px;
      z-index: -2; }
  .collections .auction-title::before {
    height: 110px;
    width: 110px;
    position: absolute;
    content: "";
    background: #e03054;
    border-radius: 50%;
    margin-right: 560px;
    z-index: -1;
    margin-top: 5px; }
  .collections .auction-cards::-webkit-scrollbar {
    height: 6px;
    background-color: #96839b; }
  .collections .auction-cards::-webkit-scrollbar-thumb {
    background-color: #594d5e; }
  .collections .auction-cards {
    margin-top: 106px;
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
    gap: 36px;
    margin-left: 80px; }
    .collections .auction-cards .card {
      min-width: 495px;
      padding: 32px 32px 28px 32px;
      background: #3d2942; }
      .collections .auction-cards .card .info {
        margin-top: 28px; }
        .collections .auction-cards .card .info .autor {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .collections .auction-cards .card .info .autor .about {
            display: flex;
            gap: 16px;
            align-items: center; }
            .collections .auction-cards .card .info .autor .about .tag {
              font-family: "Work Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 32px;
              line-height: 36px;
              color: #f5fbf2; }
          .collections .auction-cards .card .info .autor .number {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 35px;
            color: #c2b5c6; }
        .collections .auction-cards .card .info .info-card {
          display: flex;
          justify-content: space-between;
          margin-top: 28px; }
          .collections .auction-cards .card .info .info-card .current {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #c6bfc8; }
          .collections .auction-cards .card .info .info-card .price {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: #f5fbf2; }
      .collections .auction-cards .card .button {
        width: 100%;
        justify-content: center;
        margin-top: 40px;
        padding: 21px 0px;
        display: flex;
        background: rgba(233, 215, 167, 0.1);
        border: 1px solid #fde8b3;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #ffffff; }
  .collections .viewAll {
    display: flex;
    justify-content: center; }
    .collections .viewAll .viewAll-button {
      margin-top: 100px;
      border: 1px solid #ffce4e;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 0.05em;
      color: #f5fbf2;
      padding: 24px 65px; }

.howwork {
  margin-top: 185px; }
  .howwork .howwork-body .title {
    display: flex;
    justify-content: center;
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    color: #f5fbf2;
    position: relative; }
    .howwork .howwork-body .title .blur {
      position: absolute;
      background: #d53d5c;
      filter: blur(225px);
      width: 172px;
      height: 168px;
      z-index: -2;
      margin-left: 200px; }
  .howwork .howwork-body .items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px; }
    .howwork .howwork-body .items .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .howwork .howwork-body .items .item .item-title {
        margin-top: 32px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-transform: capitalize;
        color: #ffce4e; }
  .howwork .howwork-body .line-166 {
    width: 166px; }
  .howwork .howwork-body .line-125 {
    width: 125px; }

.creators {
  margin-top: -200px;
  background-image: url(/assets/images/creators/bg.svg); }
  .creators .creators-body {
    margin-left: 155px;
    margin-right: 155px; }
    .creators .creators-body .title {
      display: flex;
      justify-content: center;
      padding-top: 80px;
      font-family: "Oxanium";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 130px;
      color: #f5fbf2; }
    .creators .creators-body .title::before {
      height: 110px;
      width: 110px;
      position: absolute;
      content: "";
      background: #e03054;
      border-radius: 50%;
      margin-right: 350px;
      z-index: -1;
      margin-top: 5px; }
    .creators .creators-body .creators-items {
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;
      gap: 70px; }
      .creators .creators-body .creators-items .item {
        background: #302034;
        box-shadow: inset 2px 0px 0px #e03054;
        border-left: 1px #e03054 solid;
        padding-left: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        position: relative;
        padding-right: 64px;
        display: flex;
        justify-content: space-between;
        width: 608px;
        align-items: center; }
        .creators .creators-body .creators-items .item .info {
          display: flex;
          gap: 24px;
          align-items: center; }
          .creators .creators-body .creators-items .item .info .about .name {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 35px;
            letter-spacing: 0.05em;
            color: #f5fbf2; }
          .creators .creators-body .creators-items .item .info .about .money {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
            color: #bdaac1;
            margin-top: 8px; }
        .creators .creators-body .creators-items .item .count::before {
          height: 100px;
          width: 3px;
          position: absolute;
          content: "";
          background-color: #49374e;
          margin-right: 150px;
          top: 28px; }
        .creators .creators-body .creators-items .item .count {
          display: flex;
          align-items: center;
          flex-direction: column; }
          .creators .creators-body .creators-items .item .count .count-title {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 35px;
            letter-spacing: 0.05em;
            color: #f5fbf2; }
          .creators .creators-body .creators-items .item .count .count-desc {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #908294;
            margin-top: 6px; }
    .creators .creators-body .viewAll {
      display: flex;
      margin-top: 80px;
      justify-content: center;
      margin-bottom: 80px; }
      .creators .creators-body .viewAll .viewAll-button {
        border: 1px solid #ffce4e;
        padding: 24px 64px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #f5fbf2; }

.subscribe {
  height: 452px;
  background-image: url(/assets/images/subscribe/Pattern.svg); }
  .subscribe .subscribe-body {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .subscribe .subscribe-body .title {
      font-family: "Oxanium";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 130px;
      text-align: center;
      color: #f5fbf2; }
    .subscribe .subscribe-body .input {
      margin-top: 25px;
      display: flex;
      align-items: center;
      position: relative; }
      .subscribe .subscribe-body .input .blur {
        position: absolute;
        background: #b1d26f;
        filter: blur(225px);
        width: 262px;
        z-index: 1;
        height: 165px;
        margin-left: 500px;
        margin-top: 100px; }
      .subscribe .subscribe-body .input input {
        width: 436px;
        height: 100px;
        border: 1px solid #e7b226;
        padding-left: 53px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #f5fbf2; }
      .subscribe .subscribe-body .input input::placeholder {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #a48ea9; }
      .subscribe .subscribe-body .input button {
        cursor: pointer;
        background: #e7b226;
        height: 100px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #251928;
        padding-left: 63px;
        padding-right: 63px; }

.footer {
  height: 512px;
  position: relative;
  background-color: #251928; }
  .footer .blur {
    position: absolute;
    background: #d53d5c;
    filter: blur(275px);
    z-index: 0;
    width: 202px;
    height: 167px;
    top: 0;
    left: 0; }
  .footer .footer-body {
    display: flex;
    justify-content: space-between; }
    .footer .footer-body .logo {
      margin-top: 115px;
      margin-left: 80px; }
      .footer .footer-body .logo img {
        width: 195px;
        height: 195px; }
    .footer .footer-body .social {
      margin-top: 119px;
      display: flex;
      flex-direction: column;
      gap: 52px;
      width: 390px; }
      .footer .footer-body .social .title {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        color: #96839b; }
      .footer .footer-body .social .icons {
        display: flex;
        gap: 30px; }
      .footer .footer-body .social .desc {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: #96839b; }
    .footer .footer-body .about {
      margin-top: 108px; }
      .footer .footer-body .about .title {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #f5fbf2; }
      .footer .footer-body .about .links {
        display: flex;
        flex-direction: column; }
        .footer .footer-body .about .links .link {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 50px;
          color: #96839b; }
    .footer .footer-body .support {
      margin-top: 108px; }
      .footer .footer-body .support .title {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #f5fbf2; }
      .footer .footer-body .support .links {
        display: flex;
        flex-direction: column; }
        .footer .footer-body .support .links .link {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 50px;
          color: #96839b; }

/*# sourceMappingURL=style.css.map */
